<!--The content below is only a placeholder and can be replaced.-->
<h1>
  Welcome to {{ title }}!
</h1>
<h3> {{showDetails()}}</h3>
<div>

  <h5>product details</h5>
  product id:{{model.productId}}<br>
  product name:{{model.productName}}<br>
  unit price:  {{model.unitPrice}}<br>
  units in stock:  {{model.unitsInStock}}<br>
  discontinued:  {{model.discontinued}}
</div>
<div>
 choose product:
 <select>
   <option *ngFor="let item of productList"
   (change)="update(item)"
                     (click)="model=item">
                     {{item.productName}}</option>
 </select>

</div>